* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 10;
}
.caixa-texto {
    font-size: 15px;
    font-weight: bolder;
    width: auto;
    height: 268px;
    justify-content: space-around;
    margin-top: 100px;
}
.icons img {
    width: 22px;
    height: auto;
    margin-left: 10px;
    margin-right: 15px;
    justify-content: space-around;
}
#shopping-bag {
    width: 25px;
    height: auto;
}

.texto2 p {
    width: 320px;
}

.botao1 {
    width: 204px;
    height: 52px;
    padding: 11px 20px;
    border-radius: 50px;
    justify-content: space-between;
    opacity: 0px;
    background-color:#FEE9DE;
    color: #eb5757;
    border: none;
    margin-bottom: 50px;
}
.btn- {
    width: 165px;
    height: 40px;
    border-radius: 30px;
    background-color:#eb5757;
    color: white;
    border: none;
    margin-bottom: 150px;
}
#logo {
    width: 110px;
    height: 35px;
}
.btn-menu {
    font-size: 15px;
    height: 35px;
    width: 100px;
    border-radius: 50px;
    background-color: #eb5757;
    color: #ffffff;
    border: none;
}
.menu-spe {
    position: relative;
    margin-left: 280px;
}
.img-banner {
    background-image: url("./assents/banner.png");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: -700px;
    margin-bottom: 600px;
    margin-left: 420px;
    padding: 100%;
}
.card-group{
    height: 500px;
    width: 800px;
    margin-left: 300px;
    justify-content: space-between;
  }
  .img1{
    height: 250px;
    width: 265px;
  }
  footer { 
    background-color: #fff;
    padding: 50px;
    border-top: 1px solid #eee;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    max-width: 20%;
}

.footer-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section form {
    font-size: 16px;
    color: #666;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}
